{:dependencies
 [{:dependency/id etzhayyim/root
   :dependency/repository "https://github.com/etzhayyim/root"
   :dependency/revision "1962fafef7d66189e36914a40ed86f07d760aa94"
   :dependency/paths ["90-docs/adr"]}
  {:dependency/id com.etzhayyim/chigiri :dependency/revision "e08560129675106e0bb4b70e23769ff07a711ce7"}
  {:dependency/id com.etzhayyim/hagukumi :dependency/revision "7d34cb0660057005643f95fd9c298aeb1ff0ac82"}
  {:dependency/id com.etzhayyim/hikari :dependency/revision "0a2a0ec962eb1cb72914a9f0aef9701e8948d556"}
  {:dependency/id com.etzhayyim/iyashi :dependency/revision "eceea556237590f861a475b64bf41048c90f6213"}
  {:dependency/id com.etzhayyim/kokoro :dependency/revision "e88ebbb23fd1f87c7af3b722d02538a55af005ad"}
  {:dependency/id com.etzhayyim/mitate :dependency/revision "5900536cdda2becb947fda4c67dea84365d2239d"}
  {:dependency/id com.etzhayyim/mitsuho :dependency/revision "8ce9513470ef1df97568fd575a34c852baa755cd"}
  {:dependency/id com.etzhayyim/mizuho :dependency/revision "3e4ba475ab1fab5af7edee5025e2ae17c0cab98c"}
  {:dependency/id com.etzhayyim/shidemori :dependency/revision "e0ca1b15054efb34fdfa90646690c116697d865c"}
  {:dependency/id com.etzhayyim/tatekata :dependency/revision "fcfc6752d68b6feb5fe397203ae57ed623c35cbb"}
  {:dependency/id com.etzhayyim/toritate :dependency/revision "3354850aa05408e840426f91fe067ddad8535e5b"}
  {:dependency/id com.etzhayyim/wakai :dependency/revision "fa69bb164ab24a1fdf34d8a4cd576a9c5d0c359d"}
  {:dependency/id com.etzhayyim/yakushi :dependency/revision "5b2389671defc00ef8c7cfa522b9bc96b3ac192f"}]}
